body {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  color: #434455;
  background-color: #ffffff;
  min-width: 100%vh;
  display: flex;
  flex-direction: column;
}
main {
  flex-grow: 1;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
a {
  text-decoration: none;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}
img {
  display: block;
  max-width: 100%;
}
/* Common */
.container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: 141px;
  margin-right: 141px;
}

/* Header */
.header-container {
  display: flex;
  align-items: center;
}
.navigation {
  display: flex;
  align-items: center;
}
.navigation .menu {
  display: flex;
  align-items: center;
  gap: 40px;
}
.address > ul {
  display: flex;
  align-items: center;
  gap: 40px;
}
.navigation .link {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  padding-top: 24px;
  padding-bottom: 24px;
  margin-right: 76px;
}
.logo {
  color: #2e2f42;
}
.navigation .menu-link {
  display: block;
  font-weight: 500;
  font-size: 16px;
  font-family: Raleway;
  color: #2e2f42;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;
}
.navigation .menu-link:hover,
.navigation .menu-link:focus {
  color: #404bbf;
}
.address {
  margin-left: auto;
  font-style: normal;
}
.address .link {
  padding: 24px 0;
  font-size: 16px;
  color: #434455;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.address .link:hover,
.address .link:focus {
  color: #404bbf;
}

/* Heading */

.heading {
  background-color: #2e2f42;
}
.heading .title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  color: #ffffff;
  letter-spacing: 0.02em;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 188px;
  margin-bottom: 48px;
}
.heading .button {
  font-family: "Roboto", sans-serif;
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 188px;
  padding: 16px 32px;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}
.heading .button:hover,
.heading .button:focus {
  background-color: #404bbf;
}

/* Strategy & Approach  */

.approach {
  margin-top: 120px;
  margin-bottom: 120px;
}
.approach-list {
  display: flex;
  gap: 24px;
}
.approach-list .item {
  width: calc((100% - 72px) / 4);
}
.approach .title {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #2e2f42;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.approach .describe {
  font-size: 16px;
  line-height: 1.5;
  color: #434455;
  letter-spacing: 0.02em;
}

/* Our Team  */

.team {
  background-color: #f4f4fd;
  padding-top: 120px;
  padding-bottom: 120px;
}
.team .title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  color: #2e2f42;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 76px;
  margin-left: auto;
  margin-right: auto;
}

.team .team-list {
  display: flex;
  gap: 24px;
}
.team .photo-team {
  background-color: #ffffff;
}
.team .worker {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  color: #2e2f42;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 8px;
}
.team .position {
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: #434455;
  letter-spacing: 0.02em;
  padding-bottom: 32px;
}

/* Our Portfolio */

.portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
}
.portfolio .title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  color: #2e2f42;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
}
.info-portfolio {
  padding-top: 32px;
  padding-right: 16px;
  padding-left: 16px;
  padding-bottom: 32px;
}
.portfolio .name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #2e2f42;
  letter-spacing: 0.02em;
  padding-bottom: 8px;
}
.portfolio .branch {
  font-size: 16px;
  line-height: 1.5;
  color: #434455;
  letter-spacing: 0.02em;
}

/* FOOTER */

.footer {
  background-color: #2e2f42;
}
.footer-block {
  padding-top: 100px;
  padding-bottom: 100px;
  width: 264px;
}
.link-logo {
  padding-bottom: 16px;
}
.footer .link {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.footer .logo {
  color: #f4f4fd;
}
.footer .info {
  font-size: 16px;
  line-height: 1.5;
  color: #f4f4fd;
  letter-spacing: 0.02em;
}
